<div class="container mt-5">
  <p><strong>Ndeliの会員登録を削除する</strong></p>
<div class="row">
  <div class="col border border-3 border border-secondary rounded-3 rounded mt-1">
    <p class="mt-3 mb-3">
    退会について<br>
    退会されますと投稿したレシピ、お気に入りに入れたレシピなど<br>
    すべてのデータが削除されます<br>
    退会する場合は、「退会する」をクリックしてください。<br>
    </p>
    <div class="form-inline mx-auto">
      <%= link_to "退会しない",customers_information_edit_path, class:"btn btn-outline-primary mb-3 mr-5" %>
      <%= link_to "退会する",customers_withdraw_path, method: :patch, "data-confirm" => "本当に退会しますか？", class:"btn btn-outline-danger mb-3 mr-5" %>
    </div>
</div>
</div>
</div>