<p><strong>投稿したレシピ</strong></p>

<table>
  <% @recipes.each do |recipe| %>
  <tr>
    <td><%= link_to recipe_path(recipe.id) do %><%= image_tag recipe.get_image(200,200) %><% end %></td>
    <td><%= recipe.dish_name %></td>
    <td><%= recipe.recipe_description %></td>
  </tr>
  <% end %>
</table>