<div class="container mt-5 mb-5">
  <div class="row">
    <h1 class="px-3 mx-auto mt-5">Ndeli</h1>
  </div>

    <p class="text-center mt-2"><strong>Ndeliは、料理を作る方へ、目的別のレシピ提供し、
    料理を取り巻く毎日の食事を楽しく健やかなものにするため<br>料理のコミュニティの提供を目指したサービスです。<br>
    様々な環境のなかで美味しいレシピを探している方と、試行錯誤して編み出された美味しいレシピを記録したり共有して頂き<br>
    皆様に合ったレシピとの出会いのお手伝いができるよう目指しています
    <br>ぜひご利用ください。</strong></p>

</div>