@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Raleway&display=swap');

@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


.border-top {
  border-top-color: #33FFCC !important;
}

.border-bottom {
  border-bottom-color: #33FFCC !important;

}

body {
  font-family: 'Kiwi Maru', serif;
}

.btn_layout{
  margin-right: 5px;
}

.top_recipe{
  margin-right: 20px;
}

.recipe_image{
  border-radius: 30px;
}

.hero_img {
  height: 300px;
}

.pasta_img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0.5;
}

.hero_title {
  font-family: 'Raleway', sans-serif;
}


