@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Raleway&display=swap');

@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  font-family: 'Kiwi Maru', serif;
}

.btn_layout{
  margin-right: 5px;
}

.top_recipe{
  margin-right: 7px;
}

.recipe_image{
  border-radius: 30px;
}

.hero_img {
  height: 300px;
}

.pasta_img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0.5;
}

.hero_title {
  font-family: 'Raleway', sans-serif;
}

// .pasta p {
//   position: absolute;
//   color: black;
// }

// .pasuta_img {
//   width: 100%;
//   }



// .flash-notifications {
//   font-weight: bold;
//   color: white;
//   text-align: center;

//   .notice {
//     background-color: #ADD8E6;
//   }

//   .alert {
//     background-color: #FF4500;
//   }

//   }

