@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


.btn_layout{
  margin-right: 5px;
}

.top_recipe{
  margin-right: 7px;
}

.recipe_image{
  border-radius: 30px;
}

// .flash-notifications {
//   font-weight: bold;
//   color: white;
//   text-align: center;  

//   .notice {
//     background-color: #ADD8E6;
//   }

//   .alert {
//     background-color: #FF4500;
//   }

//   }